#container{
    height: 90vh;
    width: 48vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    /* color: #fff; */
    padding: 20px;
    border-radius: 10px;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body {
    /* margin-top: 5vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
    background-color: yellowgreen;
}
#digital-watch {
    height: 82vh;
    width: 35vw;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    /* font-size: 3em; */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid gold;
} 
#date{
    padding: 27px 5px;
    /* background-color: black; */
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    padding: 20px;
    font-size: 30px;
}
#original-date{
    /* margin-top: 10px; */
    display: flex;
    height: 7vh;
    width: 20vw;
    margin-left: 7vh;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    color: red;
    padding: 10px;
    padding-left: 40px;
    padding-right: 100px;
    border-radius: 10px;
    border: 2px solid white;
    align-items: center;
    justify-content: space-between;
}
#Time{
    padding: 27px 5px;
    /* background-color: black; */
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#original-time{
    /* margin-top: 10px; */
    display: flex;
    height: 7vh;
    width: 20vw;
    margin-left: 7vh;
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: red;
    padding: 10px;
    padding-left: 40px;
    padding-right: 100px;
    border-radius: 10px;
    border: 2px solid white;
    align-items: center;
    justify-content: space-between;
}
#Day{
    padding: 15px 5px;
    /* background-color: black; */
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
#original-Day{
    /* margin-top: 10px; */
    display: flex;
    height: 7vh;
    width: 20vw;
    margin-left: 7vh;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    color: red;
    padding: 10px;
    padding-left: 40px;
    padding-right: 100px;
    border-radius: 10px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}
